# IDE Config
# ----------------------------------------------------------------------------------------------------------------------
.idea
.cursor

# Python
# ----------------------------------------------------------------------------------------------------------------------
.venv/
venv/
__pycache__/
static/

# Unit Test / Coverage Reports
# ----------------------------------------------------------------------------------------------------------------------
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Secrets
# ----------------------------------------------------------------------------------------------------------------------
.env*
*session*

# Linters Cache
# ----------------------------------------------------------------------------------------------------------------------
.ruff_cache/
.mypy_cache/
